<!DOCTYPE html>
<html>
<head>
	<title>Bombay Spices</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/76099166eb.js" crossorigin="anonymous"></script>
	
</head>
<style type="text/css">
	body{
		background-color: white;
	}
	
	.nav-item{
		padding-left: 87px;
		padding-top: 10px;
		padding-right: 10px;
		font-family: 'Luckiest Guy', cursive;
		
		font-size: 20px;


	}
	h1{
		font-family: 'Luckiest Guy', cursive;
		font-size: 50px;
		padding-left: 20px
	}
	
	.nav-link {
    color: #ffffff;
    text-decoration: none;
    background-color: black;
}
.nav-link:hover{
	color: red;
}
.chilliimage{
	width: 20px;
	padding-left: 20px;
	align-content: center;
	
}

h1{
	color: white;
}
.wow{
	background-color: red;
}
.main{
	font-family: 'Hind', sans-serif;
	font-size: 210px;
 
  background-image: linear-gradient( #ff6347,yellow);
  padding-left: 10px;
  padding-top: 30px;


}

#nv{
	margin-left: 500px;
}

.hindi{
	
	font-family: 'Hind', sans-serif;
}

	.vellore{
		width: 450px;
		padding-left: 100px;
	}
	.main2{
		background-image: linear-gradient(yellow,red);

	}
	#rey{
		width: 1349px;
	}
	
	#nv{
		width: 500px;
	}
	p{
		font-size: 50px;
		font-family: 'Quicksand', sans-serif;
		padding-top: 10px;
		padding-left: 60px;
  font-weight: 900;
  color: black;

}
.tom{
	background-color: red;
}



	.tabla{
		font-size: 52px;
		
font-family: 'Dancing Script', cursive;
	}
	td{
		
		font-size: 52px;
	}

	table{
		margin-left: 70px;
	}
	.navbar {
    
    padding-left: 1rem;
}
td{
	width: 600px;
	border: 50px red solid;
	
	background-image:linear-gradient(yellow,red);
	height: 600px;
	font-family: 'Quicksand', sans-serif;

}
.img{
	width: 500px;
	height:400px;
	padding-left: 50px;
	
	padding-top: 10px;

}
.texte{
	font-size: 40px;
	align-self: center;
	padding-left: 60px;
	color: white;

}
</style>
<body>
<nav class="navbar sticky-top">
	<div class="wow" style="margin-left:50px">
	<ul class="nav nav-pills sticky-top">
		<li><h1>Bombay Spices</h1></li>
  <li class="nav-item">
    <a class="nav-link" href="/secondpage">Menu</a>
  </li>
  
    <li class="nav-item">
    <a class="nav-link  " href="/thirdpage">Reservations</a>
  </li>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/fourthpage">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
</ul>
</div>
</nav>
<div class="main">
<span class="hindi">स्वागत हे! <img src="https://ya-webdesign.com/transparent250_/animated-chef-png.png" class="vellore"></span>
<section class="jaffa">
<p>We serve Indian food like none other!</p>
</section>


</div>
<div class="tom">
<table>
	<tr>
		<td><img class="img" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/xrqfchsaqeosgika6avq"><p class="texte">Lip Smacking Biriyani's</p></td>
		<td>
			<img class="img" src="https://www.greavesindia.com/wp-content/uploads/2016/11/greaves_best_indian_restaurants_karavalli.jpg"><p class="texte">Excellent Ambience</p>
		</td>
	</tr>
	<tr>
		<td>
			<img src="https://www.homecare-and-i-and-i.basf.com/images/default-source/solutions/food-service-and-kitchen-hygiene/sparkling-clean-kitchens/teaser-sparkling-clean-kitchens.jpg?sfvrsn=1068c797_2" style="margin-left:40px;"> <p class="texte" style="text-align:center" >Good hygiene
			
			</p>
			
		</td>
		<td>
		<img src="https://q-cf.bstatic.com/images/hotel/max1024x768/244/244812848.jpg" style="width:500px;height:400px;margin-left:20px"><p class="texte" style="text-align:center;margin-right:50px;">
			Family Function
			</p> </td>
	</tr>
	
</table>
</div>

</body>
</html>